@import "../../assets/var";

.GroupCard__link {
  transition: ease all 0.1s;
  &:hover,
  &:focus {
    outline: none;
    transform: translateY(-5px) scale(1.05);
  }
  &:active {
    transform: scale(1.3);
    opacity: 0;
  }
}

.GroupCard {
  padding: 0 !important;
  overflow: hidden;
  margin: 0.8rem 0.5rem;
  cursor: pointer;

  &__header {
    color: white;
    height: 150px;
    margin-top: -15px;
    position: relative;
    overflow: hidden;

    &__gradiant {
      width: 100%;
      height: calc(100% - 15px);
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      background: linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.7)
      );
    }

    &__players {
      svg {
        margin-right: 10px;
      }

      text-align: right;
      margin-bottom: auto;
      font-family: $fontRubik;
      font-weight: bold;
      padding: 1rem;
    }

    &__title {
      margin-top: auto;
      padding: 1rem;
    }
  }

  &__roles {
    color: $textLight;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      display: flex;
      align-items: center;
    }

    & svg {
      font-size: 1rem;
      color: $textMedium;
      margin-right: 0.5rem;
    }
  }
}
