@import "../../assets/var";
.GroupList {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem 1rem;

    &__title {
      font-size: 1.4rem;
      color: $textLight;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}